extends /00/layout

block append variables
	- var page = "ホーム"

block contents
	#contents.home
		header: h1 メニュー
		nav
			ul
				li: a(href="./introduction.html") イントロダクション
				li: a(href="./system.html") システム
				li: a(href="./script.html") スクリプト
				li: a(href="./map.html") マップ
				li: a(href="./character.html") キャラクター
				li: a(href="./creature.html") クリーチャー
				li: a(href="./item.html") アイテム