extends ../../templates/00/layout

block append variables
	- var page = "マップ"

block contents
	#contents.map
		header: h1 マップ
		nav
			ul
				li: a(href="./maps/notes.pug") 注意事項
				li: a(href="./maps/map_b2.pug") 地下二階
				li: a(href="./maps/map_b1.pug") 地下一階
				li: a(href="./maps/map_1.pug") 一階
				li: a(href="./maps/map_2-4.pug") 二階～四階