extends /00/layout.pug

block append variables
	- var page = "スクリプト"

block contents
	#contents.script
		header: h1 スクリプト
		nav
			ul
				li: a(href="./scripts/synopsis.html") 梗概
				li: a(href="./scripts/prologue.html") 序幕
				li: a(href="./scripts/section1.html") 研究所へ
				li: a(href="./scripts/interlude1.html") 幕間１
				li: a(href="./scripts/section2.html") 怪物の襲来
				li: a(href="./scripts/interlude2.html") 幕間２
				li: a(href="./scripts/section3.html") 決戦
				li: a(href="./scripts/epilogue.html") 終幕
				li: a(href="./scripts/appendixA.html") 付録Ａ 残された謎
				li: a(href="./scripts/appendixB.html") 付録Ｂ 設定集