extends ../../templates/00/layout

block append variables
	- var page = "スクリプト"

block contents
	#contents.script
		header: h1 スクリプト
		nav
			ul
				li: a(href="./scripts/synopsis.pug") 梗概
				li: a(href="./scripts/prologue.pug") 序幕
				li: a(href="./scripts/section1.pug") 研究所へ
				li: a(href="./scripts/interlude1.pug") 幕間１
				li: a(href="./scripts/section2.pug") 怪物の襲来
				li: a(href="./scripts/interlude2.pug") 幕間２
				li: a(href="./scripts/section3.pug") 決戦
				li: a(href="./scripts/epilogue.pug") 終幕
				li: a(href="./scripts/appendixA.pug") 付録Ａ 残された謎
				li: a(href="./scripts/appendixB.pug") 付録Ｂ 設定集