include ../mixins

mixin amelia
	+line("Amelia", "5")
		block

mixin carlo
	+line("Carlo", "4")
		block

mixin emma
	+line("Emma", "3")
		block

mixin zeller
	+line("Zeller", "0")
		block

mixin oldman
	+line("老人", "1")
		block

mixin if(label)
	+conditional(label, "2")
		block
	