svg(width="0", height="0")
	defs
		symbol#arc1(overflow="visible", viewBox="0 0 75 75")
			path(d="M 0 0 H 75 A 75 75 0 0 1 0 75 V 0 Z")
		symbol#arc2(overflow="visible", viewBox="0 0 75 75")
			path(d="M 75 0 V 75 A 75 75 0 0 1 0 0 H 75 Z")
		symbol#arc3(overflow="visible", viewBox="0 0 75 75")
			path(d="M 75 75 H 0 A 75 75 0 0 1 75 0 V 75 Z")
		symbol#arc4(overflow="visible", viewBox="0 0 75 75")
			path(d="M 0 75 V 0 A 75 75 0 0 1 75 75 H 0 Z")
		symbol#lock(overflow="visible", viewBox="0 0 100 100")
			rect(x="10", y="30", width="80", height="60")
			path(d="M 30 30 A 20 15 0 0 1 70 30")
			circle.fill(cx="50", cy="50", r="10")
			path(d="M 50 60 v 25 m 0 -15 h 15")
		marker#arrow(viewBox="0 0 100 100", refX="0", refY="50", markerWidth="10", markerHeight="10" orient="auto")
			path.fill(d="M 0 0 L 100 50 L 0 100 Z")