extends /00/layout

block append variables
	- var page = "マップ 二階～四階"

block contents
	article#contents.map
		header: h1 二階～四階
		figure
			include /00/svg
			svg(class="layout", overflow="visible", viewBox="0 0 2500 2500")
				a(href="#elevator")
					g.area
						path(d="M 400 2100 v 200 h -400 v -200 h 300")
						rect(x="150", y="2300" width="100", height="50")
						use(x="400", y="2150", width="75", height="75", href="#arc4")
						use(x="450", y="2050", width="100", height="100", href="#lock")
				a(href="#stairs")
					g.area
						path(d="M 300 2100 h -300 v -500 h 400 v 500 M 50 1600 v 500 m 50 -500 v 500 m 50 -500 v 500 m 50 -500 v 500 m 50 -500 v 500 m 50 -500 v 500 m 0 -250 h -300")
						path(d="M 100 1700 h 200", marker-end="url(#arrow)")
						path(d="M 350 2000 h -200", marker-end="url(#arrow)")
				a(href="#floor")
					g.area
						rect(x="400", y="0", width="1700", height="2300")
		section#elevator
			header: h2 エレベーター前
			p.
				フロアに入るための扉があり、電子錠によって施錠されている。
				どのような方法を使っても絶対に開くことはない。
			p.
				エレベーターについては#[a(href="./map_1.html#elevator") 一階のマップ]を参照。
		section#stairs
			header: h2 階段
			p.
				四階のみ上り階段がなく、手すりがついているだけとなっている。
		section#floor
			header: h2 フロア全体
			p.
				入り口が施錠されているため、侵入不可。
			p.
				内部は実験用の設備があるという設定。