extends ../../../templates/00/layout
include ../../../templates/00/mixins

block append variables
	- var page = "スクリプト 付録Ａ"

block contents
	article#contents.script
		header: h1 付録Ａ 残された謎
		p.
			続きや関連作品を考えるときに役立つ要素として、
			シナリオ内で触れなかった謎についてメモしておく。
		section
			header: h2 研究所の権力者
			p.
				研究所に秘密裡に地下施設を建設するためにはそれなりの立場で人を動かすことができる存在が必要である。
				しかし、失踪者はみな一介の研究員であり、使われる側の人間であったと思われる。
				それならば、地下施設の存在とそこで起きた事件を知りつつ黙秘した人物がどこかにいたはすである。
		section
			header: h2 クトーニアンの卵
			p.
				シナリオにはクトーニアンの卵が出てくるが、その卵がその後どうなったかは一切触れていない。
				もちろん、地震その他で死んでしまった可能性もあるが、幸運にも孵化して成長する可能性もある。
				さらには誰かが研究所跡地から持ち去ってしまうこともあり得るかもしれない。