extends /00/layout
include /00/mixins

block append variables
	- var page = "スクリプト 怪物の襲来"

block contents
	article#contents.script
		header: h1 怪物の襲来
		section
			header: h2 問題フェーズ
			p.
				Ameliaの居室、入り口の扉を正面にした状態からスタート。
				時刻は９時。
			p.
				開始と同時に階段のシャッターが破壊される音が聞こえる。
				さらに聞き耳ロールに成功すれば、掠れた風切り音が近づいてきているのが聞こえる
				（「掠れた風切り音」は本シナリオにおけるクトーニアンの「詠唱するような音」の表現）。
			p.
				探索者が部屋の外に出ようとした場合には、ただちに探索フェーズへと移行させる。
		section
			header: h2 探索フェーズ
			p.
				地下一階エレベーター前の部屋、鈍色の扉を開けた状態（前セクションの終了状態）からスタート。
				時刻は前セクションの終了時と同じ。
			p.
				探索者全員がAmeliaの居室に入り、そのうち一人が部屋から出ようとした時点で終了。
				ただし、あまりに準備が出来ていない状態でその状況になった場合には、準備ができるまでスキップしても構わない。
				逆になかなかその状況にならない場合には、記憶矛盾などを使って強引に進行してもよい。
		section
			header: h2 対処フェーズ
			p.
				一切対策が施されていない場合、クトーニアンはAmeliaの居室にまっすぐ向かってくる。
				目的は卵の奪取で、攻撃的行動や妨害を受けない限りは探索者を攻撃することはない。
				何らかの方法で撃退するか、卵を奪っていく様を静観し、クトーニアンが去っていくのを確認した時点で終了。
				また、クトーニアンに攻撃を受け、探索者全員が気絶した場合でも終了する。
			p.
				クトーニアン撃退の正攻法は水を使うことである。
				少量であればクトーニアンは粘液により水から身を守ることができるが、
				水が恐怖の対象であることには変わりなく、特別な理由がない限りは少量の水でも退散すると考えられる。
				簡単な方法としては部屋の前を水浸しにしておく等が考えられる。
			p.
				水以外であってもクトーニアンに大ダメージを与えた場合や、
				卵をうまく隠したり、部屋の外に移動させてしまった場合にはクトーニアンは撤退する。
			p.
				このセクションにおいてクトーニアンが探索者を殺害することはない。
				クトーニアンは攻撃対象の探索者を触肢によって捕捉して壁等に叩きつける。
				攻撃を受けた探索者はCONx1でロールして、失敗した場合には気絶する。
				叩きつけのダメージは1D6を基準に死なないよう適当に調整する。